<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
        xmlns:util="http://www.springframework.org/schema/util"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

        <context:annotation-config />

        <context:component-scan base-package="us.codecraft" />
        
        <beans>
        	<bean name="tcpSocketMonitor" class="us.codecraft.blackhole.monitor.TCPSocketMonitor">
        		<constructor-arg name="host" type="java.lang.String" value="0.0.0.0"></constructor-arg>
        		<constructor-arg name="port" type="int" value="53"></constructor-arg>
        	</bean>
        	<bean name="udpSocketMonitor" class="us.codecraft.blackhole.monitor.UDPSocketMonitor">
        		<constructor-arg name="host" type="java.lang.String" value="0.0.0.0"></constructor-arg>
        		<constructor-arg name="port" type="int" value="53"></constructor-arg>
        	</bean>
        </beans>


</beans>
